#logo1{
    display: inline-block;
    width: 50px;
    height: 50px;
}
#header-title{
    display: inline-block;
}
#personal_details{
    display: inline-block;
}
#menu{
    list-style-type: none;
    padding: 10px;;
    overflow: hidden;
    background-color: red;
}
#menu > li{
    display: inline-block;
    padding: 10px;;
    /* float: left; */
}
#menu > li.hover{
    display: inline-block;
    padding: 10px;;
    /* float: left; */
    background-color: rosybrown;
    
}

#welcomescreen{
    display: block;
}

#register-screen{
    display: none;
}

#Login-screen{
    display: none;
}

#settings-screen{
    display: none;
}

#game-screen{
    display: none;
}

.a{
    text-decoration: none;
}

#footer{
    text-align: center;
    background-color: gray;
}

#footer > #ben-logos {
    display: inline-block;
}

#footer > #names{
    display: inline-block;
}

#footer > #mor-logos {
    display: inline-block;
}
#content{
    text-align: center;
}
#logo2{
    width: 200px;
    height: 200px;
}

/* */ 
