/* The About modal (background) */
#about-modal {
  display: none;
  position: fixed; 
  z-index: 1;
  left:0;
  top:0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); }

/* About Content/Box */
#about-content {
  text-align: left;
  background: url("../assets/images/darkbg.jpg");
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 25%; 
  height: 55%;
}

/* The Close Button */
.close-btn1 {
  color: #aaa;
  text-align: right;
  float: left;
  font-size: 30px;
  font-weight: bold;
}

.close-btn1:hover,
.close-btn1:focus {
  color: rgb(196, 161, 161);
  text-decoration: none;
  cursor: pointer;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 20%;
  height: auto;
}

.about-text{
  text-align: center;
  color: rgba(255,255,255,1);
	letter-spacing: 0.1em;
	font-size: 1.2em;
}
