.contact-logo{
    opacity: 0.6;
    width:25px;
    height:25px;
}

.contact-logo:hover{
    opacity: 1;
}

.mail-logo{
    opacity: 0.6;
    width:33px;
    height: auto;
    cursor:pointer;
    vertical-align: bottom;
}

.mail-us{
    display: inline-block;
    padding-top: 1.5em;
    color:inherit;
    text-decoration: none;
    cursor:pointer; 
}

.mail-logo:hover{
    opacity: 1;

}

.mail-us,.mail-us:hover,.mail-logo, .mail-logo:hover,.mail-details, .mail-details:hover{
    cursor:pointer; 
    text-decoration: none;
}

.mail-details{
    vertical-align: center;
}

#footer-cotainer{
    text-align: center;
    background-color:#17181b;
    padding:10px 10px 10px 10px;
    font-size:15px;
    color:#737373;
    bottom: 10px;
    width: 100%;
    width: inherit;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: row;

}

#footer-cotainer h6{
    color:#fff;
    font-size:12px;
    text-transform: uppercase;
    margin-top:15px;
    letter-spacing:2px;
    display: inline;
    vertical-align: middle;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-content{
    width: 100%;
    float: left;
    font-size: 1em;
}

.social-links{
    list-style: none;
    text-decoration: none;
    text-align: center;
}

.social-links li{
    display: inline;
    text-align: center;
    text-decoration: none;
}

a, a img, .a img:visited{
    text-decoration: none;
    outline: none;
    border: 0px none transparent;
}