.contact-logo{
    opacity: 0.6;
}

.contact-logo:hover{
    opacity: 1;
}

#footer{
    text-align: center;
    background-color:#1e202b;
    padding:10px 10px 10px 10px;
    font-size:15px;
    color:#737373;
    bottom: 10px;
    width: 100%;
    display: block;
}

#footer h6{
    color:#fff;
    font-size:12px;
    text-transform: uppercase;
    margin-top:5px;
    letter-spacing:2px;
    display: inline;
    vertical-align: middle;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#footer-left{
    width: 35%;
    /* float: left; */
    margin-bottom: 40px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
#footer-right{
    width: 35%;
    /* float: right; */ 
    margin-bottom: 40px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.social-links{
    list-style: none;
    text-decoration: none;
    text-align: center;
}

.social-links li{
    display: inline;
    text-align: center;
    text-decoration: none;
}

a, a img, .a img:visited{
    text-decoration: none;
    outline: none;
    border: 0px none transparent;
}