#losing-ghost-modal{
    display: none;
    position: fixed; 
    z-index: 1;
    left:0;
    top:0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

#win-time-modal{
    display: none;
    position: fixed; 
    z-index: 1;
    left:0;
    top:0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

#lose-time-modal{
    display: none;
    position: fixed; 
    z-index: 1;
    left:0;
    top:0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

.modal-content-end{
    text-align: center;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 25%; 
    height: 50%;
    font-size: 1.5em;
}

#losing-ghost-modal-content{
    background: url("../assets/images/gameover.png");
    background-size: cover;
}

#losing-ghost-modal-content > label{
    color: black;
}

.back-color-btn1{
    width: max-content;
    height: max-content;
    background-color: #1b2735;
}

#win-time-modal-content{
    background: url("../assets/images/win.png");
    background-size: cover;
}

/* The Close Button */
.close-btn2 {
    color: #aaa;
    text-align: right;
    float: left;
    font-size: 50px;
    font-weight: bold;
  }
  
.close-btn2:hover,
.close-btn2:focus {
    color: rgb(196, 161, 161);
    text-decoration: none;
    cursor: pointer;
}

#lives_img{
    height: 15px;
}

#show-info{
    background-image: url("../assets/images/darkbg3.png");
    width: max-content;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-flow: row;
}

.show-info-content{
    width: 170px;
    float: left;
    font-size: 1.5em;
}