#home-screen{
    /* display: block;
    height: 500px;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif; */
}


#logo2{
    margin: 5em;
    width: 350px;
    height: 200px;
}