#register-screen{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#register-container{
    width: 600px;
    height: 700px;
}

.form-part{
    margin : 15px ;
    padding : 2px;
}


.error::before{
    content: "\a";
    white-space: pre;
}

.error{
    color: brown;
}

#submit-btn-input{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}