#settings-btns-container{
    width: inherit;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: row;
}

#submit-settings{
    text-align: center;
    font-size: 1.3em;
    justify-content: center;
    padding-right: 1.2em;
    padding-left: 1.2em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 12em;
    float: left;
    font-size: 1em;
}
#randomBtn{
    text-align: center;
    font-size: 1.3em;
    justify-content: center;
    padding-right: 1.2em;
    padding-left: 1.2em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 12em;
    float: left;
    font-size: 1em;
}

#keyboards-select{
    margin: 2px auto;
    padding-left: 0;
    list-style: none;}

#keyboards-select > li{
    margin: 0;
    padding: 0;
    display: inline-block;
}

.keyboard-option{

    color:  rgb(148, 177, 196);
	background: none;
	border-radius: 0;
	font-size: 2em;
    text-align: center;
	transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    box-shadow: inset 0 0 1em rgba(0,170,170,0.5), 0 0 1em rgba(0,170,170,0.5);
	border:  rgb(148, 177, 196) solid 2px;
    height:50px;
    width:50px;
    cursor:pointer;
    padding: 4px 5px;
}

.keyboard-option:hover{
    display: inline-block;
    background-color: rgb(62, 87, 87);
    box-shadow: inset 0 0 0 rgba(0,170,170,0.5), 0 0 1.5em rgba(0,170,170,0.7);
}

#game-container{
    display: none;
    text-align: center;
}

#settings-change{
    font-size: 1.2em;
}


#settings-show{
    background: url("../assets/images/darkbg3.png");
    float: left;
    position:absolute;
    height: 550px;
    text-align: center;
    margin-top: 15px;
    font-size: 1.2em;
    box-shadow: inset 0 0 1em rgba(0,170,170,0.5), 0 0 1em rgba(0,170,170,0.5);
    border: #0dd solid 2px;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

#game{
    float: left;
}

#settings-form > label{
    font-size: 1.5em;
    line-height: 2em;
}

#show-keys-chosen-list{
    margin: 2px auto;
    padding-left: 0;
    list-style: none;
}

#show-keys-chosen-list > li{
    display: inline;
    text-align: center;
}



#new-game-set-show{
    width: 65%;
    height: 10%;
    float:center;
    padding: 0px;
    bottom: 2em;
    text-align: center;
    font-size: 1.1em;
    justify-content: center;
}

.color-set{
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    border-radius: 100px;
    background: none;
    width: 25px;
    height:30px;
}

.divider{
    height:auto;
    display:inline-block;
}