@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');

/* html{
    /* background-color: rgb(175, 151, 159); 
}*/

body{
    background-color: #345;
	background-image: linear-gradient(to bottom, #0009, transparent);
	color: #eee;
	font-family: 'Lato', sans-serif;
	font-size: 62.5%;
	padding: 0 20px;
	box-sizing: border-box;
}

#logo3{
    width: 300px;
    height: 170px;
    text-align: center;
    justify-content: center;
}

#personal_details{
    vertical-align: middle;
    font-family: 'Roboto', Arial;
    display: flex;
	justify-content: center;
}
#menu{
    /* list-style-type: none;
    padding: 1px;;
    overflow: hidden;
    background-color: #333;
	color: #fff;
	font-family: 'Roboto', Arial;
    display: flex;
	justify-content: center;
	margin: 0 0; */

    /* justify-content: space-between; */

    background-color: #123;
	background-image: linear-gradient(to bottom, #0003, transparent);
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-size: 2em;
	font-weight: 300;
    justify-content: center;
}
#menu > li{
    display: inline-block;
    padding: 0px;
}

.btn1{
    color: rgba(255,255,255,1);
	background: none;
	border-radius: 0;
	padding: 1.2em 5em;
	letter-spacing: 0.35em;
	font-size: 0.7em;
	transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
	margin: 1em;
    box-shadow: inset 0 0 1em rgba(0,170,170,0.5), 0 0 1em rgba(0,170,170,0.5);
	border: #0dd solid 2px;
}

.btn1:hover{
    display: inline-block;
    background-color: #0dd;
    box-shadow: inset 0 0 0 rgba(0,170,170,0.5), 0 0 1.5em rgba(0,170,170,0.7);

}

.btn1:active{
    transform: translateY(4px);
}

#content-container{
    text-align: center;
    height: max-content;
}

#register-screen{
    display: none;
}

#Login-screen{
    display: none;
}

#settings-screen{
    display: none;
}

#game-screen{
    display: none;
}